.wave {
  position: absolute;
  top: -20px;
  width: 200%;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 40%;
  animation: waveMove 2s linear infinite;
}

.wave1 {
  fill: #090824;
  animation: waveMove 6s linear infinite;
}

.wave2 {
  fill: #60a5fa;
  opacity: 0.5;
  animation: waveMoveReverse 10s linear infinite;
}

@keyframes waveMove {
  0% { transform: translateX(0); }
  100% { transform: translateX(-120px); }
}

@keyframes waveMoveReverse {
  0% { transform: translateX(0); }
  100% { transform: translateX(120px); }
}

.waveGroup {
  transition: transform 0.5s ease-out;
}